---
---
<div class="hamburger">
  hamburger
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</div>

<style>
  .hamburger.expanded {
    border: 1px solid grey;
  }
</style>

<script>
  import './hamburger.js';
</script>
